/* abstracts */
/* $font-family-default: "Manrope", sans-serif;
$font-family-title: "Anton", sans-serif;

$primary-bg-color: #ededed; */
/* base */
@import url("https://fonts.googleapis.com/css2?family=Anton&family=Manrope:wght@400;500;700&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: Manrope;
  font-size: 1.6rem;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border-radius: 2px;
  border: 1px solid #c6c6c6;
  padding: 0.6em;
  font: inherit;
}
input:focus {
  outline: #c6c6c6;
}
input:active {
  outline: 1px solid #c6c6c6;
}

button {
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

h1 {
  color: #ffd15b;
  font-family: "Anton", sans-serif;
  text-align: center;
  font-size: 4.4rem;
  font-weight: 400;
}

/* $font-family-default: "Manrope", sans-serif;
$font-family-title: "Anton", sans-serif;

$primary-bg-color: #ededed; */
.title {
  font-family: "Anton", sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #ededed;
}

.hidden {
  display: none !important;
}

.d-flex {
  display: flex;
}

.filtered {
  display: none !important;
}

/* components */
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  max-width: 213px;
  z-index: 2;
  padding: 10px 0px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 8px 8px;
}
.dropdown-search {
  text-align: left;
  font-size: 0.7em;
  background-image: url(../assets/img/loup-gray.svg);
  background-position: center right 11px;
  background-repeat: no-repeat;
  background-color: transparent;
  border-color: #c6c6c6;
  padding: 10px 20px;
  margin: 5px 10px 20px 10px;
  width: 90%;
  position: sticky;
  top: 0;
}
.dropdown-search-close {
  position: absolute;
  right: 2em;
  top: 1.3em;
  width: 10px;
  height: 10px;
  border: 1px;
  z-index: 1;
  cursor: pointer;
}
.dropdown-list {
  max-height: 300px;
  overflow-y: auto;
}
.dropdown-item {
  color: black;
  padding: 10px 12px 12px 15px;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  text-align: left;
  background-color: #fff;
  width: 100%;
  font-size: 0.7em;
}
.dropdown-item:hover {
  background-color: #ffd15b;
}
.dropdown-selected {
  font-weight: 600;
  background: no-repeat center right 1.5rem url(../assets/img/close-circle-solid.svg);
  background-color: #ffd15b;
}
.dropdown-button {
  border: 1px solid #c6c6c6;
  padding: 1rem 4rem 1rem 2rem;
  background-color: #fff;
  border-radius: 0.8em;
  font-size: 1.3rem;
  min-width: 213px;
  text-align: left;
  cursor: pointer;
  text-transform: capitalize;
  position: relative;
}
.dropdown-button::after {
  position: absolute;
  content: "";
  background: no-repeat center/contain url(../assets/img/down.svg) transparent;
  width: 1em;
  height: 1em;
  top: 50%;
  right: 1.125em;
  transform: translateY(-50%) scaleY(1);
  transition: transform ease-in-out 0.3s;
}
.dropdown.active .dropdown-content {
  display: block;
}
.dropdown.active .dropdown-button {
  border-bottom: none;
  border-radius: 0.8em 0.8em 0 0;
}
.dropdown.active .dropdown-button::after {
  background: no-repeat center/contain url(../assets/img/up.svg) transparent;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 102px;
  gap: 66px 48px;
  font-family: Manrope;
}

.card {
  position: relative;
  flex: 0;
  flex-basis: 380px;
  overflow: hidden;
  border-radius: 21px;
  background-color: #ffffff;
  box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
}
.card-img {
  object-fit: cover;
  width: 100%;
  height: 273px;
}
.card-body {
  padding: 32px 25px 62px 25px;
}
.card-body-title {
  padding: 0 0 32px;
  font-size: 1em;
}
.card-body-desc {
  color: #1b1b1b;
  font-size: 0.7em;
  font-weight: 400;
  overflow: hidden;
  margin-bottom: 2em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

/* layout */
/* pages */
.header {
  background: no-repeat center/cover url(../assets/img/lampos-aritonang-24gR_9lCdes-unsplash1.jpg);
  padding-bottom: 133px;
}
.header__top {
  display: flex;
  align-items: center;
  width: 100%;
  height: 133px;
  padding-left: 6em;
}
.header__content {
  padding: 84px 0;
}
.header__content .title {
  font-size: 3rem;
  padding: 0 275px;
  color: #ffd15b;
  text-transform: uppercase;
  margin-bottom: 29px;
  text-align: center;
  font-weight: 400;
}

.form-search {
  position: relative;
  width: 100%;
  max-width: 954px;
  margin: 0 auto;
}

.input-search {
  padding: 1.5em 8em 1.5em 2em;
  font-size: 1.2rem;
  color: #7a7a7a;
  width: 100%;
  border-radius: 0.6875em;
  box-sizing: border-box;
}

.btn-search {
  position: absolute;
  aspect-ratio: 1;
  top: 0.2em;
  bottom: 0.2em;
  right: 0.2em;
  border: none;
  outline: 0;
  border-radius: 0.625em;
  background: no-repeat center/50% #000 url(../assets/img/loup-white.svg);
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}
.btn-search:hover {
  background: no-repeat center/50% #ffd15b url(../assets/img/loup-black.svg);
}

.btn-clear {
  position: absolute;
  aspect-ratio: 1;
  top: 0.8em;
  bottom: 0.9em;
  right: 5.5em;
  border: none;
  outline: 0;
  border-radius: 0.625em;
  background: no-repeat center/40% url(../assets/img/close-gray.svg);
  cursor: pointer;
}

#filters {
  display: flex;
  flex-flow: row nowrap;
  gap: 2rem;
}

#filters .container {
  display: flex;
  justify-content: space-between;
  padding: 80px 102px 0;
  width: 100%;
}

.filters {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.dropdowns {
  display: flex;
  gap: 50px;
}

.results {
  display: flex;
  align-items: center;
  font-size: 1.5em;
  font-weight: 400;
  font-family: "Anton", sans-serif;
  color: #000;
}

.content-tags-search {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5em 6.5rem;
  gap: 30px;
  align-items: start;
}

.tag-search {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  border: 1px solid;
  border-color: #ffd15b;
  border-radius: 10px;
  z-index: 1;
  min-width: 205px;
  background-color: #ffd15b;
  text-transform: capitalize;
  font-size: 0.7em;
}

.tag-search .close-badge {
  cursor: pointer;
}

#recipes .badge {
  top: 21px;
  right: 21px;
}

.badge {
  position: absolute;
  font-size: 1rem;
  border-radius: 1em;
  background-color: #ffd15b;
  padding: 0.4em 1em;
}

#recipes h3 {
  font-size: 1.2rem;
  color: #7a7a7a;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

#recipes .container {
  padding-top: 5em;
  padding-bottom: 4em;
}

#recipes .ingredients {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 25px;
  padding: 5px;
}

#recipes .ingredient {
  flex: 1 0 calc(50% - 21px);
}

#recipes .ingredient .name {
  font-size: 1.2rem;
  color: #1b1b1b;
  font-weight: 500;
}

#recipes .ingredient .quantity {
  font-size: 1.1rem;
  font-weight: 400;
  color: #7a7a7a;
  padding-top: 2px;
}/*# sourceMappingURL=main.css.map */