.dropdown {
  position: relative;
  display: inline-block;

  &-content {
    display: none;
    position: absolute;
    background-color: #fff;
    max-width: 213px;
    z-index: 2;
    padding: 10px 0px;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 8px 8px;
  }

  &-search {
    text-align: left;
    font-size: 0.7em;
    background-image: url(../assets/img/loup-gray.svg);
    background-position: center right 11px;
    background-repeat: no-repeat;
    background-color: transparent;
    border-color: #c6c6c6;
    padding: 10px 20px;
    margin: 5px 10px 20px 10px;
    width: 90%;
    position: sticky;
    top: 0;

    &-close {
      position: absolute;
      right: 2em;
      top: 1.3em;
      width: 10px;
      height: 10px;
      border: 1px;
      z-index: 1;
      cursor: pointer;
    }
  }

  &-list {
    max-height: 300px;
    overflow-y: auto;
  }

  &-item {
    color: black;
    padding: 10px 12px 12px 15px;
    text-decoration: none;
    text-transform: capitalize;
    display: block;
    text-align: left;
    background-color: #fff;
    width: 100%;
    font-size: 0.7em;
    &:hover {
      background-color: #ffd15b;
    }
  }

  &-selected {
    font-weight: 600;
    background: no-repeat center right 1.5rem
      url(../assets/img/close-circle-solid.svg);
    background-color: #ffd15b;
  }

  &-button {
    border: 1px solid #c6c6c6;
    padding: 1rem 4rem 1rem 2rem;
    background-color: #fff;
    border-radius: 0.8em;
    font-size: 1.3rem;
    min-width: 213px;
    text-align: left;
    cursor: pointer;
    text-transform: capitalize;
    position: relative;
    &::after {
      position: absolute;
      content: "";
      background: no-repeat center / contain url(../assets/img/down.svg)
        transparent;
      width: 1em;
      height: 1em;
      top: 50%;
      right: 1.125em;
      transform: translateY(-50%) scaleY(1);
      transition: transform ease-in-out 0.3s;
    }
  }

  &.active &-content {
    display: block;
  }

  &.active &-button {
    border-bottom: none;
    border-radius: 0.8em 0.8em 0 0;
    &::after {
      background: no-repeat center / contain url(../assets/img/up.svg)
        transparent;
    }
  }
}
