body {
  position: relative;
  font-family: Manrope;
  font-size: 1.6rem;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  border-radius: 2px;
  border: 1px solid #c6c6c6;
  padding: 0.6em;
  font: inherit;

  &:focus {
    outline: #c6c6c6;
  }

  &:active {
    outline: 1px solid #c6c6c6;
  }
}

button {
  font: inherit;
  background-color: transparent;
  cursor: pointer;
}

h1 {
  color: #ffd15b;
  font-family: "Anton", sans-serif;
  text-align: center;
  font-size: 4.4rem;
  font-weight: 400;
}
